*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --bg-color:#ffffff;
    --primary-color: #06013D;
}

body{
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    
}

nav{
    display:flex;
    padding-left:120px;
    padding-right: 120px;
    height:100px;
    align-items:center;
    justify-content: space-between;
}
nav .nav-link{
    display: flex;
    gap: 30px;
}
nav .nav-link a{
    color: #6b6a6a;
    text-decoration: none;
}
nav .nav-link a:hover{
    color:#454040;
    text-decoration:underline;
    text-decoration-color: rgb(82, 233, 82);
    text-decoration-thickness:3px;
}
nav .nav-button a button {
    background-image:linear-gradient(
     to right,
     rgb(82, 233, 82),
     rgb(0, 255, 255)
     ) ; 
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    width:150px;
    height:35px;
    border-radius: 24px;
    border: 1px solid #ffffff;
}
nav .nav-button a button:hover{
    opacity: 0.7;
    cursor:pointer;
}
nav .menu-icon{
    display:none;
}


header{
    display:flex;
    background-color: #f9f9f9;
}
header .hero-left{
    padding:150px 0px 0px 120px;
}
header .hero-left h1{
    color:#454040;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 20px;
}
header .hero-left p{
    color:#6b6a6a;
    line-height: 24px;
    padding-bottom: 20px;
}
header .hero-left a button {
    background-image:linear-gradient(
     to right,
     rgb(82, 233, 82),
     rgb(0, 255, 255)
     ) ; 
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    width:150px;
    height:35px;
    border-radius: 24px;
    border: 1px solid #ffffff;
}
header .hero-left a button:hover{
    opacity: 0.7;
    cursor:pointer;
}
header .hero-right{
    padding-left: 270px;
}
header .mobile-design {
    display:none;
}


.first-section {
    background-color: #f3f4f6;
    padding:80px 100px 80px 120px;
}
.first-section .top h2{
    color:#454040;
    font-size: 40px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 20px;
}
.first-section .top p{
    color:#6b6a6a;
    line-height: 24px;
    padding-bottom: 56px;
}
.first-section .bottom{
    display: flex;
    gap:28px;
}
.first-section .bottom .icons img{
    padding-bottom: 24px;
}
.first-section .bottom .icons h3{
    padding-bottom: 24px;
    color:#454040;
    font-size: 24px;
    font-weight: 250;
    line-height: 32px;
}
.first-section .bottom .icons p{
    color:#6b6a6a;
    line-height: 24px;
}


.second-section{
    background-color: #f6f6f6;
    padding:80px 100px 80px 120px;
}
.second-section .top h2{
    color:#454040;
    font-size: 36px;
    font-weight: 200;
    line-height: 35px;
    padding-bottom: 48px;
}
.second-section .bottom{
    display: flex;
    gap:32px;
}
.second-section .bottom .image{
    border:1px solid #ffffff;
    border-radius: 5px;
    background-color:#ffffff;
}
.second-section .bottom .image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.second-section .bottom .image .first-paragraph{
    color: #6b6a6a;
    font-size:13px;
    line-height: 10px;
    padding:20px 20px 16px 20px;
}
.second-section .bottom .image .second-paragraph{
    color: #454040;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    padding:0px 20px 16px 20px;
}
.second-section .bottom .image .second-paragraph:hover{
    color: rgb(82, 233, 82);
    cursor:pointer;
}
.second-section .bottom .image .third-paragraph{
    color:#6b6a6a;
    padding:0px 20px 16px 20px;
}











/***MEDIA QUERY***/
@media only screen and (max-width: 1000px) {
    nav{
        padding-left:32px;
        padding-right:32px;
    }
    nav .nav-link{
        display:none;
    }
    /***nav .nav-link.toggle{
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        background-color: var(--on-primary-color);
        width: 95%;
        text-align:center;
        padding: 32px 0;
        left: 50%;
        transform: translate(-50%, 0);
    }***/
    nav .nav-button a button{
        display:none;
    }
    nav .menu-icon{
        display:block;
    }
    header{
        display:flex;
        flex-direction: column-reverse;
        gap:20px;
    }
    header .hero-left{
        padding: 0px 32px 0px 32px;
        text-align: center;
    }
    header .hero-right img{
        display:none;
    }
    header .mobile-design{
        display:block;
    }
    header .mobile-design img{
        width:100%;
    }

    .first-section .top{
        text-align: center;
    }
    .first-section .bottom{
        flex-direction: column;
        text-align: center;
    }

    .second-section .top{
        text-align: center;
    }
    .second-section .bottom{
        flex-direction: column;
    }
}