*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --bg-color:#ffffff;
    --primary-color: #06013D;
}

body{
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    
}

nav{
    display:flex;
    padding-left:120px;
    padding-right: 120px;
    height:100px;
    align-items:center;
    justify-content: space-between;
}
nav .nav-link{
    display: flex;
    gap: 30px;
}
nav .nav-link a{
    color: #6b6a6a;
    text-decoration: none;
}
nav .nav-link a:hover{
    color:#454040;
    text-decoration:underline;
    text-decoration-color: rgb(82, 233, 82);
    text-decoration-thickness:3px;
}
nav .nav-button a button {
    background-image:linear-gradient(
     to right,
     hsl(136, 65%, 51%),
     hsl(192, 70%, 51%)
     ) ; 
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    width:150px;
    height:35px;
    border-radius: 24px;
    border: 1px solid #ffffff;
}
nav .nav-button a button:hover{
    opacity: 0.7;
    cursor:pointer;
}
nav .menu-icon{
    display:none;
}


header{
    display:flex;
    background-color: #f9f9f9;
}
header .hero-left{
    padding:150px 0px 0px 120px;
}
header .hero-left h1{
    color:#454040;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 20px;
}
header .hero-left p{
    color:#6b6a6a;
    line-height: 24px;
    padding-bottom: 20px;
}
header .hero-left a button {
    background-image:linear-gradient(
     to right,
     hsl(136, 65%, 51%),
     hsl(192, 70%, 51%)
     ) ; 
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    width:150px;
    height:35px;
    border-radius: 24px;
    border: 1px solid #ffffff;
}
header .hero-left a button:hover{
    opacity: 0.7;
    cursor:pointer;
}
header .hero-right{
    padding-left: 270px;
}
header .mobile-design {
    display:none;
}


.first-section {
    background-color: #f3f4f6;
    padding:80px 100px 80px 120px;
}
.first-section .top h2{
    color:#454040;
    font-size: 40px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 20px;
}
.first-section .top p{
    color:#6b6a6a;
    line-height: 24px;
    padding-bottom: 56px;
}
.first-section .bottom{
    display: flex;
    gap:28px;
}
.first-section .bottom .icons img{
    padding-bottom: 24px;
}
.first-section .bottom .icons h3{
    padding-bottom: 24px;
    color:#454040;
    font-size: 24px;
    font-weight: 250;
    line-height: 32px;
}
.first-section .bottom .icons p{
    color:#6b6a6a;
    line-height: 24px;
}


.second-section{
    background-color: #f6f6f6;
    padding:80px 100px 80px 120px;
}
.second-section .top h2{
    color:#454040;
    font-size: 36px;
    font-weight: 200;
    line-height: 35px;
    padding-bottom: 48px;
}
.second-section .bottom{
    display: flex;
    gap:32px;
}
.second-section .bottom .image{
    border:1px solid #ffffff;
    border-radius: 5px;
    background-color:#ffffff;
}
.second-section .bottom .image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.second-section .bottom .image .first-paragraph{
    color: #6b6a6a;
    font-size:13px;
    line-height: 10px;
    padding:20px 20px 16px 20px;
}
.second-section .bottom .image .second-paragraph{
    color: #454040;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    padding:0px 20px 16px 20px;
}
.second-section .bottom .image .second-paragraph:hover{
    color: rgb(82, 233, 82);
    cursor:pointer;
}
.second-section .bottom .image .third-paragraph{
    color:#6b6a6a;
    padding:0px 20px 16px 20px;
}


footer{
    background-color:hsl(233, 26%, 24%);
    height: 200px;
    padding:40px 120px 40px 120px;
    display:flex;
    justify-content: space-between;
}

footer .footer-logo img{
    padding-bottom:35px;
}
footer .footer-logo svg :hover{
    fill:hsl(136, 65%, 51%);
}
footer .footer-links{
    display:flex;
}
footer .footer-links li{
    list-style: none;
}
footer .footer-links a{
    color:#ffffff;
    text-decoration: none;
    font-size: 14px;
    padding-right:80px;
    text-align: start;
}
footer .footer-links a:hover{
    color:hsl(136, 65%, 51%);
    cursor:pointer;
}
footer .footer-links .row-one{
    padding-right: 32px;
    line-height: 40px;
}
footer .footer-links .row-two{
    padding-right:32px;
    line-height:40px;
    margin-right: 40px;
    position: relative;
    right: 50px;
}
footer .footer-request{
    text-align: end;
}
footer .footer-request a button{
    background-image:linear-gradient(
     to right,
     hsl(136, 65%, 51%),
     hsl(192, 70%, 51%)
     ) ; 
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    width:150px;
    height:35px;
    border-radius: 24px;
    border: 1px solid hsl(233, 26%, 24%);
}
footer .footer-request a button:hover{
    opacity: 0.7;
    cursor:pointer;
}
footer .footer-request .footer-rights{
    padding-top: 36px;
}
footer .footer-request p{
    color:#6b6a6a;
    padding-top: 36px;
}














/***MEDIA QUERY***/
@media only screen and (max-width: 1000px) {
    nav{
        height:60px;
        padding-left:32px;
        padding-right:32px;
    }
    nav .nav-link{
        display:none;
    }
    nav .nav-link.toggle{
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 95%;
        text-align:center;
        padding: 32px 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index:100;
    }
    nav .nav-button a button{
        display:none;
    }
    nav .menu-icon{
        display:block;
    }
    header{
        display:flex;
        flex-direction: column-reverse;
        gap:20px;
    }
    header .hero-left{
        padding: 0px 32px 0px 32px;
        text-align: center;
    }
    header .hero-right img{
        display:none;
    }
    header .mobile-design{
        display:block;
    }
    header .mobile-design img{
        width:100%;
    }

    .first-section .top{
        text-align: center;
    }
    .first-section .bottom{
        flex-direction: column;
        text-align: center;
    }

    .second-section .top{
        text-align: center;
    }
    .second-section .bottom{
        flex-direction: column;
    }
    .second-section .bottom .image{
        margin: 0 auto;
    }
    footer{
        display:flex;
        flex-direction: column;
        height:600px;
        margin: 0 auto;
    }
    footer .footer-logo{
        text-align: center;
    }
    footer .footer-links {
        display:inline-block;
        text-align:center;
        
    }
    footer .footer-links ul{
       justify-content: center;
       align-items: center;
    }
    footer .footer-links .row-one{
        text-align: center;
        left:0px;
        right:0px;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
    footer .footer-links .row-two{
        text-align: center;
        left:0px;
        right:0px;
        padding-left: 0px;
        padding-right: 0px;
        margin:0 auto;
    }
    footer .footer-request{
        text-align: center;
    }
    footer .footer-request p{
        padding-bottom: 32px;
    }
}